.mp6 #adminmenu .toplevel_page_sp-overview .wp-menu-image:before {
content: 'SP';
font-family: Rockwell, "Courier Bold", Courier, Georgia, Times, "Times New Roman", serif !important;
font-size: 18px !important;
font-weight: bold;
letter-spacing: -3px;

}

.mp6 #adminmenu .toplevel_page_sp-overview .wp-menu-image img {
display: none;
}