.wp-core-ui #adminmenu .toplevel_page_sp-overview .wp-menu-image:before {
content: 'SP';
font-family: Rockwell, "Courier Bold", Courier, Georgia, Times, "Times New Roman", serif !important;
font-size: 18px !important;
font-weight: bold;
letter-spacing: -3px;

}

.wp-core-ui #adminmenu .toplevel_page_sp-overview .wp-menu-image img {
display: none;
}

.panel-title{
  font-weight: normal;
}
.spwrap .bg-primary{color:#fff;background-color:#428bca}
.spwrap a.bg-primary:hover{background-color:#3071a9}
.spwrap .bg-success{background-color:#dff0d8}
.spwrap a.bg-success:hover{background-color:#c1e2b3}
.spwrap .bg-info{background-color:#d9edf7}
.spwrap a.bg-info:hover{background-color:#afd9ee}
.spwrap .bg-warning{background-color:#fcf8e3}
.spwrap a.bg-warning:hover{background-color:#f7ecb5}
.spwrap .bg-danger{background-color:#f2dede}
.spwrap a.bg-danger:hover{background-color:#e4b9b9}
button{
  margin: 0;
}
.sp-row .input-group input[type="checkbox"],
.sp-row input{ margin: 0px; }

.bslabel {
    padding: 1px 3px 2px;
    font-size: 9.75px;
    font-weight: bold;
    color: #ffffff;
    text-transform: uppercase;
    white-space: nowrap;
    background-color: #bfbfbf;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.bslabel.important {
    background-color: #c43c35;
}
.bslabel.warning {
    background-color: #f89406;
}
.bslabel.success {
    background-color: #46a546;
}
.bslabel.notice {
    background-color: #62cffc;
}

.tab-content{
    padding: 20px;
    background-color: #fff;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.bg-f8f8f8 {
background-color: #f8f8f8;
}

.font-15{
  font-size: 14px;
}

.bb-ddd{
  border-bottom: 1px solid #ddd;
}

.announcement-heading {
font-size: 50px;
margin: 0;
}

.sp-row, .sp-row-text{
    margin-bottom: 1.5em;
}
.sp-row-text{
  padding: 0 15px;
}

.sp-row:before,
.row:after {
  display: table;
  content: " ";
}

.sp-row:after {
  clear: both;
}

.sp-row:before,
.sp-row:after {
  display: table;
  content: " ";
}

.sp-row:after {
  clear: both;
}

.fa-5x {
font-size: 5em;
}

.col-lg-3 {
width: 25%;
}

.w-50{
    width: 50%;
    position: relative;
    min-height: 1px;

    float:left;
}
/*
.sp-row li {
    padding: 0 5px 8px 5px;
    margin-bottom: 8px;

    border-bottom: solid 1px #dfdfdf;
}
*/

.sp-border{
  border: 1px solid #d9d9d9;
  border-radius: 6px 0 0 6px;
}




.sp-100 {
    width: 100%;
    position: relative;
    min-height: 1px;
   
    float:left;
}

/* grid2 col */
.sp-50 {
    width: 48.4%;
    position: relative;
    min-height: 1px;
    margin-left: 3.2%;
    float:left;
}

.sp-email{
    float:right;
}

.sp-33 {
    width: 31.2%;
    position: relative;
    min-height: 1px;
    margin-left: 3.2%;
    float:left;
}

.sp-75{
    width: 74.2%;
    position: relative;
    min-height: 1px;
    margin-left: 3.2%;
    float:left;
}
.sp-screen{
    margin-right: 300px;
}
.sp-toolbar{
  float:right;
  width: 285px;
}

.panel-body hr{
margin-top: 5px;
margin-bottom: 5px;
}
.sp-style{
    width: 100%;
    margin-right: 275px;
    position: relative;
    min-height: 1px;
    margin-left: 3.2%;
    float:left;
}

.sp-25{
  width: 22.6%;
    position: relative;
    min-height: 1px;
    margin-left: 3.2%;
    float:left;
}
.w-25{
  width: 22.6%;
    position: relative;
    min-height: 1px;
    margin-left: 3.2%;
    float:left;
}
.sp-min{
  min-width: 265px;
}

.sp-block{
  padding-top: 1.8125em;
  padding-bottom: 1.8125em;
  border: 1px solid #d9d9d9;
  border-left: 0 none;
  -moz-background-clip: padding-box !important;
  -webkit-background-clip: padding-box !important;
  background-clip: padding-box !important;
  -moz-box-sizing: border-box;
 -webkit-box-sizing: border-box; 
 box-sizing: border-box;
 background-color: #f8f8f8;
 text-align: center; 
}
.sp-block.sp-25{
   width: 25%;
   margin-left: 0;
}
.sp-block:last-child {
border-radius: 0 6px 6px 0;
}

.sp-block.sp-first{
  border-left: 1px solid #d9d9d9;
  border-radius:  6px 0 0 6px ;
}
.sp-first{
    margin-left: 0;
}

.w-25 .panel-heading{
    border-bottom: 0px;
}
.qemails .column-actions{
  width: auto;
}

.nopadding{
  padding: 0px !important;
}


.CodeMirror{
  height: 800px;
}

.in .action-buttons{
  display: none;
}
.top-action-buttons{
  margin-top: 8px;
  margin-right:15px;
}

div.sp-error, .media-upload-form div.sp-error {
margin: 5px 0 15px;
}
div.sp-error {
border-left: 4px solid #dd3d36;
background: #fff;
-webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,0.1);
box-shadow: 0 1px 1px 0 rgba(0,0,0,0.1);
padding: 1px 12px;
}
div.sp-updated p, div.sp-error p {
margin: 0.5em 0;
padding: 2px;
}


.admin-color-midnight .navbar-default .navbar-nav > .active > a, .admin-color-midnight .navbar-default .navbar-nav > .active > a:hover, .admin-color-midnight .navbar-default .navbar-nav > .active > a:focus{
  background-color: #e14d43;
  color: #fff;
}

.admin-color-fresh .navbar-default .navbar-nav > .active > a, .admin-color-fresh .navbar-default .navbar-nav > .active > a:hover, .admin-color-fresh .navbar-default .navbar-nav > .active > a:focus{
  background-color: #0074a2;
  color: #fff;
}

.admin-color-blue .navbar-default .navbar-nav > .active > a, .admin-color-blue .navbar-default .navbar-nav > .active > a:hover, .admin-color-blue .navbar-default .navbar-nav > .active > a:focus{
  background-color: #096484;
  color: #fff;
}

.admin-color-coffee .navbar-default .navbar-nav > .active > a, .admin-color-coffee .navbar-default .navbar-nav > .active > a:hover, .admin-color-coffee .navbar-default .navbar-nav > .active > a:focus{
  background-color: #c7a589;
  color: #fff;
}
.admin-color-ectoplasm .navbar-default .navbar-nav > .active > a, .admin-color-ectoplasm .navbar-default .navbar-nav > .active > a:hover, .admin-color-ectoplasm .navbar-default .navbar-nav > .active > a:focus{
  background-color: #a3b745;
  color: #fff;
}
.admin-color-ocean .navbar-default .navbar-nav > .active > a, .admin-color-ocean .navbar-default .navbar-nav > .active > a:hover, .admin-color-ocean .navbar-default .navbar-nav > .active > a:focus{
  background-color: #9ebaa0;
  color: #fff;
}
.admin-color-sunrise .navbar-default .navbar-nav > .active > a, .admin-color-sunrise .navbar-default .navbar-nav > .active > a:hover, .admin-color-sunrise .navbar-default .navbar-nav > .active > a:focus{
  background-color: #dd823b;
  color: #fff;
}
.admin-color-light .navbar-default .navbar-nav > .active > a, .admin-color-light .navbar-default .navbar-nav > .active > a:hover, .admin-color-light .navbar-default .navbar-nav > .active > a:focus{
  background-color: #04a4cc;
  color: #fff;
}

.panel-color{
  border-color: #ddd;
}

.admin-color-midnight .panel-color{
  border-color: #e14d43;
}
.admin-color-midnight .panel-color .panel-heading{
  background-color: #e14d43;
  color: #fff;
}

.admin-color-fresh .panel-color{
  border-color: #0074a2;
}
.admin-color-fresh .panel-color .panel-heading{
  background-color: #0074a2;
  color: #fff;
}

.admin-color-blue .panel-color{
  border-color: #096484;
}
.admin-color-blue .panel-color .panel-heading{
  background-color: #096484;
  color: #fff;
}


.admin-color-coffee .panel-color{
  border-color: #c7a589;
}
.admin-color-coffee .panel-color .panel-heading{
  background-color: #c7a589;
  color: #fff;
}


.admin-color-ectoplasm .panel-color{
  border-color: #a3b745;
}
.admin-color-ectoplasm .panel-color .panel-heading{
  background-color: #a3b745;
  color: #fff;
}


.admin-color-ocean .panel-color{
  border-color: #9ebaa0;
}
.admin-color-ocean .panel-color .panel-heading{
  background-color: #9ebaa0;
  color: #fff;
}


.admin-color-sunrise .panel-color{
  border-color: #dd823b;
}
.admin-color-sunrise .panel-color .panel-heading{
  background-color: #dd823b;
  color: #fff;
}

.admin-color-light .panel-color {
  border-color: #888;
}
.admin-color-light .panel-color .panel-heading{
  background-color: #888;
   border-color: #888;
  color: #fff;
}








h1, h2, h3, h4, h5, h6 {
   font-family: "Open Sans", sans-serif !important;
} 

h2 .nav-tab{
   font-weight: normal !important;
   font-family: "Open Sans", sans-serif;
   }


.sp-header{
margin-top: 1.875em;
margin-bottom: 2.5625em;
}
.sub-nav a{
  margin-right: 2em;
}
.sub-nav{
  border-top: solid 1px #e7e7e7;
  border-bottom: solid 1px #e7e7e7;
  padding: 15px 0;
}
/*
.admin-color-coffee .nav-tab-active{
  background-color: #c7a589;
  color: #fff;
}

.admin-color-light h2.nav-tab-wrapper,.admin-color-light h3.nav-tab-wrapper{
  border-bottom-color: #04a4cc;
}

.admin-color-coffee h2.nav-tab-wrapper,.admin-color-coffee h3.nav-tab-wrapper{
  border-bottom-color: #c7a589;
}

.admin-color-coffee .nav-tab {
color: #cdcbc9;
border-color: #46403c;
background: #59524c;
}
.admin-color-coffee .about-wrap h2 .nav-tab-active, .admin-color-coffee .nav-tab-active, .nav-tab-active:hover{
border-bottom-color: #f7f7f7;
}
*/

@media (max-width: 767px) {
  .w-25{
    width: 48.4%;
  }
  .w-25:nth-of-type(2n+1) {
        margin-left: 0;
        clear: left;
    }

    .sp-33{
        width: 100%;
        margin: 0;
    }
}

@media (max-width: 480px) {
  .w-25{
    width: 100%;
  }
  .sp-50{
    width: 100%;
    margin: 0;
  }
  .w-25{
    margin: 0;
  }
}

.w-50 p{
    line-height: 1em;
}


