/*
h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
font-weight: normal;
line-height: 1;
color: #999;
}

h2 small{
    font-size: 12px;
}
*/
.nav-tabs > .green > a, .nav-tabs > .green > a:hover{
    color:#fff;
    background-color: #0088cc;
}

input[type="radio"], input[type="checkbox"] {
margin: 0;
margin-top: 1px \9;
line-height: normal;
}



.table .thead{
     background-color: #f1f1f1;
}

a.btn:focus{
    color: inherit;
}
#poststuff h2{
    margin: 0 ;
}
p{
    font-size: 14px;
}
.spwrap h2{
    font-size: 20px;
    line-height: 22px;
}
.spimage-100{
    width: 100%;
}
.sp-icons {
	background:url('../img/sendpress-32.png') no-repeat;
}


.sendpress-layout-selector label.box {
border: 3px solid transparent;
display: block;
float: left;
margin: 10px 10px 10px 0;
text-align: center;
max-width: 85px;
max-height: 76px;
}
.sendpress-layout-selector label.box img {
max-width: 85px;
pointer-events: none;
}


.badge-default {
  background-color: #999999;
}

.badge-default[href]:hover,
.badge-default[href]:focus {
  background-color: #808080;
}

.badge-primary {
  background-color: #428bca;
}

.badge-primary[href]:hover,
.badge-primary[href]:focus {
  background-color: #3071a9;
}

.badge-success {
  background-color: #5cb85c;
}

.badge-success[href]:hover,
.badge-success[href]:focus {
  background-color: #449d44;
}

.badge-info {
  background-color: #5bc0de;
}

.badge-info[href]:hover,
.badge-info[href]:focus {
  background-color: #31b0d5;
}

.badge-warning {
  background-color: #f0ad4e;
}

.badge-warning[href]:hover,
.badge-warning[href]:focus {
  background-color: #ec971f;
}

.badge-danger {
  background-color: #d9534f;
}

.badge-danger[href]:hover,
.badge-danger[href]:focus {
  background-color: #c9302c;
}


@media only screen and (-moz-min-device-pixel-ratio: 1.5),only screen and (-o-min-device-pixel-ratio: 3/2),only screen and (-webkit-min-device-pixel-ratio: 1.5),only screen and (min-device-pixel-ratio: 1.5) {
    .sp-icons {
        background: url('../img/sendpress-160.png') no-repeat;
        background-size: 32px 32px;
        background-color: blue;
    }
}
 .sp-icons {
        background: url('../img/sendpress-160.png') no-repeat;
        background-size: 34px 34px;
       }


.nav-sp{
    /*
  min-width: 820px; 
  */
  margin: 0 0 20px;  
}
.spwrap{
	 /*padding: 22px 0;*/
    /*min-width: 820px;*/
}
.nav-tab-wrapper{
   /* min-width: 820px;*/
}

#html-header img{
    display: block;
    margin: 0 auto;
}
/*

table {
border-collapse: separate;
}

#email-subject {
    border-color: #CCC;
    padding: 3px 8px;
    font-size: 1.7em;
    line-height: 100%;
    width: 100%;
    outline: none;
}
*/
.nomargin{
    margin: 0;
}

.widerightcol input[type="text"].sp-text, .widerightcol input[type="password"].sp-text,input.sp-text{
    padding: 8px;
    width: 98%;
    font-size: 14px;
}

.split .wp-editor-container textarea.wp-editor-area{
    width: 98%;
}


.widerightcol input[type="text"],.widerightcol input[type="password"] {
    border-color: #CCC;
    padding: 3px 8px;
    font-size: 1.7em;
    line-height: 100%;
    width: 100%;
    outline: none;
}

.sendpress-sysinfo{
    width: 100%;
    height: 800px;
}


input#title {
border-color: #CCC;
padding: 3px 8px;
font-size: 1.7em;
line-height: 100%;
width: 100%;
outline: none;
}

.post-body #title {
background-color: white;
}
colors-fresh.css:1
.post-body #title {
border-color: #CCC;
}
load-styles.php:58
.post-body #title {
padding: 3px 8px;
font-size: 1.7em;
line-height: 100%;
width: 100%;
outline: none;
}

.mod-first{
    clear: left;
}

#taskbar {
 margin: 0 0 15px;
}
#taskbar h2{
	padding: 0;
}
.column-title{
    width: 225px;
}
.column-firstname,.column-firstname{
    width: 200px;
}
.column-phonenumber{
    width: 150px;
}
.column-salutation{
    width: 150px;
}
.column-actions{
    width: 390px;
}
.column-gravatar{
    width: 40px;
}
.group:before,
.group:after {
    content:"";
    display:table;
}
.group:after {
    clear:both;
}
.group {
    zoom:1; /* For IE 6/7 (trigger hasLayout) */
}

.float-left{
	float:left;
}
.float-right{
    float:right;
}

.row{
	padding: 5px;
}
.even{
    background: rgba(243, 243, 243, .85);
    color: #222;
}

.rounded {
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

.box{
	border-color: #CCC;
    border-style: solid;
    border-width: 1px;
}
.reports .scheduled{
    background-color: #d9edf7;
}
table.wp-list-table{
    min-width: 820px;
}
#button-area{
	float:right;
}

.inline-buttons{
    padding-top: 5px;
}

.spbuttons {
    float: left;
    padding-bottom: 20px;
    clear: both;
}
.column-count_subscribers{
 width: 60px;
}
.column-last_send_date{
    width: 90px;
}

.leftcol{
    float:left;
    width: 240px;
}
.widerightcol{
   
   float:left;
   width: 100%;
}
.boxer {
    /*
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    border: 1px solid #EEE;
    border-top: 1px solid #DDD;
    border-bottom: 1px solid white;
    background: #eeeeee;
    
    margin: 1.2em 0 1.2em 0;
    padding: 1em 1.4em 1.4em;
    */
    clear: both;
    min-width: 860px;
}

a.spbutton {
    color: #6e6e6e;
    font: bold 12px Helvetica, Arial, sans-serif;
    text-decoration: none;
    padding: 7px 12px;
    position: relative;
    display: inline-block;
    text-shadow: 0 1px 0 #fff;
    -webkit-transition: border-color .218s;
    -moz-transition: border .218s;
    -o-transition: border-color .218s;
    transition: border-color .218s;
    background: #f3f3f3;
    background: -webkit-gradient(linear,0% 40%,0% 70%,from(#F5F5F5),to(#F1F1F1));
    background: -moz-linear-gradient(linear,0% 40%,0% 70%,from(#F5F5F5),to(#F1F1F1));
    border: solid 1px #dcdcdc;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    margin-right: 10px;
}
a.spbutton:hover {
    color: #333;
    border-color: #c9c9c9;
    -moz-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.2) -webkit-box-shadow:0 2px 5px rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}


.spmedia .media-image {
float: left;
margin: .125em .9375em .125em .125em;
} 
.spmedia .media-image img{

width: 110px;
height: 110px;
border: 1px solid #ccc;
border-radius: 6px;
padding: 4px;
}
.spmedia .media-body {
overflow: hidden;
_overflow: visible;
zoom: 1;
}
.spmedia .media-body input.sp-text{
    display: block;
    width: 50%; 
}
.style-unit input.fifty,.fifty{
    width: 45%;
    margin: 0;
}


a.spbutton:active {
    color: #000;
    border-color: #666;
}

a.lightblue{
  
background: #E6F7FB;
border: solid 1px #A1CBD3;
color: #5C929D;
}
a.lightblue:hover{
  
color: #3f646c;
border: solid 1px #77969c;


}

a.blue{
    color: #fff;
    background: #298CBA;
     text-shadow: 0 1px 0 #000;
     border: solid 1px #037eab;
}
a.blue:hover{
    color: #f9f9f9;
    border: solid 1px #005c86;
     -moz-box-shadow:none;
    box-shadow:none;
     text-shadow: 0 1px 0 #3f646c;
}

a.lastbtn{
    margin: 0;
}
a.left {
    -webkit-border-top-right-radius: 0;
    -moz-border-radius-topright: 0;
    border-top-right-radius: 0;
    -webkit-border-bottom-right-radius: 0;
    -moz-border-radius-bottomright: 0;
    border-bottom-right-radius: 0;
    margin: 0;
}
a.middle {
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-left: solid 1px #f3f3f3;
    margin: 0;
    border-left: solid 1px rgba(255, 255, 255, 0);
}
a.middle:hover,
a.right:hover { border-left: solid 1px #999;
    -moz-box-shadow:none;}
a.right {
    -webkit-border-top-left-radius: 0;
    -moz-border-radius-topleft: 0;
    border-top-left-radius: 0;
    -webkit-border-bottom-left-radius: 0;
    -moz-border-radius-bottomleft: 0;
    border-bottom-left-radius: 0;
    border-left: solid 1px #f3f3f3;
    border-left: solid 1px rgba(255, 255, 255, 0);
}

a.big {
    font-size: 16px;
    padding: 10px 15px;

}
a.supersize {
    font-size: 20px;
    padding: 15px 20px;
}
a.save {
    background: url('../img/sprite.png') 10px 7px no-repeat #f3f3f3;
    padding-left: 30px;
}
a.add {
    background: url('../img/sprite.png')  10px -27px no-repeat #f3f3f3;
    padding-left: 30px;
}
a.delete {
    background: url('../img/sprite.png')  10px -61px no-repeat #f3f3f3;
    padding-left: 30px;
}
a.flag {
    background: url('../img/sprite.png')  10px -96px no-repeat #f3f3f3;
    padding-left: 30px;
}
a.up {
    background: url('../img/sprite.png')  13px -133px no-repeat #f3f3f3;
    width: 18px;
}
a.down {
    background: url('../img/sprite.png')  13px -168px no-repeat #f3f3f3;
    width: 18px;
}
a.save-big {
    background: url('../img/sprite.png') 15px 11px no-repeat #f3f3f3;
    font-size: 16px;
    padding: 10px 15px 10px 35px;
}
a.add-big {
    background: url('../img/sprite.png')  15px -23px no-repeat #f3f3f3;
    font-size: 16px;
    padding: 10px 15px 10px 35px;
}
a.delete-big {
    background: url('../img/sprite.png')  15px -57px no-repeat #f3f3f3;
    font-size: 16px;
    padding: 10px 15px 10px 35px;
}
a.flag-big {
    background: url('../img/sprite.png')  15px -92px no-repeat #f3f3f3;
    font-size: 16px;
    padding: 10px 15px 10px 35px;
}
a.up-big {
    background: url(sprite.png)  15px -128px no-repeat #f3f3f3;
    width: 18px;
    font-size: 16px;
    padding: 10px 15px;
}
a.down-big {
    background: url(sprite.png)  15px -163px no-repeat #f3f3f3;
    width: 18px;
    font-size: 16px;
    padding: 10px 15px;
}
a.last{
	margin: 0;
}

.cpcontroller{
    width: 80px;
}
.boxer-inner{
    
}
.boxer-inner h2{
  padding-top: 0px;
}
.style-unit{
   -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    border: 1px solid #EEE;
    border-top: 1px solid #DDD;
    border-bottom: 1px solid white;
    border-radius: 5px;
    background: #fff;
    font-size: 13px; font-family: arial,sans-serif; line-height: 150%; color:#333;
    padding: 10px 15px 15px;
    margin: 0 0 20px;
}
.style-unit h4{
  text-shadow: 1px 1px 0px #dfdfdf;
  margin: 0 0 5px;
  color: #666;
}

.header-holder{
    text-align: center;
    background: #ddd;
    position:relative;
    min-height:50px;
}

.html-view{
     -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    border: 1px solid #EEE;
    border-top: 1px solid #DDD;
    border-bottom: 1px solid white;
    
    background: #e5e5e5;
    text-align: center;
    min-width: 640px;
    font-size: 13px; font-family: arial,sans-serif; line-height: 150%; color:#333;
    padding: 20px 0;
}
.html-view-holder{
    width: 600px;
    margin: 0 auto;
}
.html-wrapper{
    background: #fff;
    border: solid 1px #cccccc;
    margin: 10px 0;
    text-align: left;
}
.html-wrapper-inner{
    padding: 10px;
}
.html-view-outer-text{
    color: #666;
    font-size: 12px;
}


.colorpick{
    position: absolute;
    width: 195px;

}

.close-picker{
    float:right;
    margin: 2px 3px 0px 0px;
    border: solid 1px #ddd;
    background-color: #fff;
    color: #777;
    cursor: pointer;
    line-height: 10px;
    font-size: 10px;
    padding: 3px 6px 4px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    position: relative;
    z-index: 9999;
}
.colorpicker_space{
    border: solid 1px #999;
    background-color: #f1f1f1;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.inputbox{
     -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    border: 1px solid #EEE;
    border-top: 1px solid #DDD;
    border-bottom: 1px solid white;
    padding: 20px;
    margin-bottom: 20px;
    background: #dfdfdf;
}


#header-image.hide,
#header-text.hide,
#imageaddbox,
#textaddbox{
    display: none;
    }
    #imageaddbox .error{
        color:red;
        display:none;
    }

#header-text{
    padding: 30px 0;
}

#header-controls{
    position:absolute;
    top:5px;
    right:5px;
}




.sp-welcome-panel{

margin: 20px 0px;
padding: 30px 10px 20px;
/*border-width: 1px 0;
border-style: solid;
*/
position: relative;
line-height: 1.6em;
overflow: auto;


     -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    border: 1px solid #EEE;
    border-top: 1px solid #DDD;
    border-bottom: 1px solid #DDD;
    padding: 20px;
    margin-bottom: 20px;
    background: #f7f7f7;

}

.sp-badge {
padding-top: 160px;
height: 50px;
width: 173px;
font-weight: bold;
font-size: 14px;
text-align: center;
margin: 0 -5px;
background: #dcdcd7 url('../img/sendpress.jpg') no-repeat center top;
float: left;
margin-bottom: 20px;

}


#wpbody #contextual-help-link-wrap {
background-color: #d64c14;
border-right: 1px solid transparent;
border-left: 1px solid transparent;
border-bottom: 1px solid transparent;
background-image: -ms-linear-gradient(bottom,#c03700,#d8541f);
background-image: -moz-linear-gradient(bottom,#c03700,#d8541f);
background-image: -o-linear-gradient(bottom,#c03700,#d8541f);
background-image: -webkit-gradient(linear,left bottom,left top,from(#c03700),to(#d8541f));
background-image: -webkit-linear-gradient(bottom,#c03700,#d8541f);
background-image: linear-gradient(bottom,#c03700,#d8541f);
}

#wpbody #contextual-help-link {
color: #FFF;
}

#wpbody #contextual-help-link {
text-decoration: none;
z-index: 1;
padding: 0 6px 0 6px;
height: 22px;
line-height: 22px;
font-size: 12px;
display: block;
text-shadow: none;
background: none;
}
.sp-badge {
color:#d04329;
/*text-shadow: 0 -1px 0 rgba(22, 57, 81, 0.3);*/
border-radius: 5px;
  -moz-box-shadow:    inset 0 0 10px #999;
   -webkit-box-shadow: inset 0 0 10px #999;
   box-shadow:         inset 0 0 10px #999;
}

.sendpress_page_sp-help .sp-badge{
  -moz-box-shadow:    none;
   -webkit-box-shadow:  none;
   box-shadow:          none;
}

.sp-welcome-panel h3 {
text-shadow: 1px 1px 1px white;
}
.sp-welcome-panel h3 {
font-family: "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",sans-serif;
font-size: 32px;
font-weight: normal;
line-height: 1.2;
margin: .1em 0 .8em;
}
.sp-welcome-panel .about-description, .sp-welcome-panel h3 {
margin-left: 190px;
}

.sp-welcome-panel .welcome-panel-close::before {
background: url('images/xit.gif') 0 17% no-repeat;
content: ' ';
height: 100%;
width: 10px;
left: -12px;
position: absolute;
}
.sp-welcome-panel .welcome-panel-close {
position: absolute;
top: 0;
right: 10px;
padding: 8px 3px;
font-size: 13px;
text-decoration: none;
}

.sp-welcome-panel .welcome-panel-column-container {
clear: both;
overflow: hidden;
position: relative;
padding-left: 25px;
}
.sp-welcome-panel .welcome-panel-column {
margin: 0 5% 0 -25px;
padding-left: 25px;
width: 30%;
min-width: 200px;
float: left;
}
.sp-welcome-panel .welcome-panel-column.welcome-panel-last {
margin-right: 0;
}


.sendpress-panel-column-container {
clear: both;
overflow: hidden;
position: relative;
padding-left: 25px;
}
.sendpress-panel-column {
margin: 0 5% 0 -25px;
padding-left: 25px;
width: 30%;
min-width: 200px;
float: left;
}
.sendpress-panel-column.sendpress-panel-last {
margin-right: 0;
}




.about-wrap .sp-badge {
position: absolute;
top: 0;
right: 0;
}
.sp-footer{
    padding-bottom: 5px;
}



.form-table th {
vertical-align: top;
text-align: left;
padding: 10px 10px;
width: 150px;
}
.form-table label{
    font-size: 1.25em;
}
.form-box label{
    width: 20%;
    display: block;
    float: left;
    padding-top: 3px;
}

.wrap a{
    text-decoration: none;
}

/* -- add subscriber css -- */
#subscriber-edit .sublabel,
#subscriber-create .sublabel{
    display: inline-block;
    min-width:100px;
}
#subscriber-edit .sp-text,
#subscriber-create .sp-text{
    width:350px;
}

#subscriber-edit .btn,
#subscriber-create .btn{
    margin-left:67px;
}

.subscribers-create-container{

}

.subscribers-create-container:after{
    content:" ";
    display: block;
    clear: both;
}

#subscribers-create{
    float:left;
    width:70%;
}
#subscribers-create:after{

}
#subscribers-create textarea{
    width:100%;
    height:200px;
    display: block;
}

#subscribers-create .btn{
    
}

.subscribers .column-actions{
    width: 100px;
}

/* -- edit list css -- */

#the-list{
  width:100%;
}

.edit-list-form{
  width:100%;
  height:0px;
}

/* -- widget-settings css -- */
#widget-options.form-box label{
    width:30%;
}

#widget-options #shortcode,
#widget-options #widget-settings{
    width:45%;
    margin-right:25px;
    float:left;
}
#widget-options #widget-settings{
    margin:right:0px;
}


#sendpress-helper .modal-header{
    padding: 0px;
    border: none;
}

#sendpress-helper .modal-header .close{
    margin-right: 15px;
}

#sendpress-helper .modal-body{
    padding-top: 0px;
}
.tabs-first{
    margin-left: 5px;
}

.table td.text-right{
    text-align: right;
}

/*
.radio{
    padding: 5px;
}
*/

#search-header{
    padding-bottom: 10px;
}


.autocomplete-w1 { position: absolute; top: 0px; left: 0px; margin: 6px 0 0 6px; /* IE6 fix: */ _background: none; _margin: 1px 0 0 0; }
.autocomplete { border: 1px solid #999; background: #FFF; cursor: default; text-align: left; max-height: 350px; overflow: auto; margin: -6px 6px 6px -6px; /* IE6 specific: */ _height: 350px; _margin: 0; _overflow-x: hidden; }
.autocomplete .selected { background: #c9e6ed; }
.autocomplete div { padding: 5px 10px; white-space: nowrap; overflow: hidden; }
.autocomplete strong { font-weight: normal; color: #3399FF; }

#sp-post-preview h1, .h1{
                 color:#202020;
                display:block;
                 font-family:Arial;
                 font-size:34px;
                 font-weight:bold;
                 line-height:100%;
                margin-top:0;
                margin-right:0;
                margin-bottom:10px;
                margin-left:0;
                text-align:left;
            }

            
 #sp-post-preview h2, .h2{
                color:#202020;
                display:block;
                font-family:Arial;
                font-size:30px;
                font-weight:bold;
                line-height:100%;
                margin-top:0;
                margin-right:0;
                margin-bottom:10px;
                margin-left:0;
                text-align:left;
            }

            
#sp-post-preview h3, .h3{
                 color:#202020;
                display:block;
                font-family:Arial;
                 font-size:26px;
                 font-weight:bold;
            line-height:100%;
                margin-top:0;
                margin-right:0;
                margin-bottom:10px;
                margin-left:0;
                 text-align:left;
            }

            
#sp-post-preview h4, .h4{
                color:#202020;
                display:block;
                font-family:Arial;
                font-size:22px;
                font-weight:bold;
                line-height:100%;
                margin-top:0;
                margin-right:0;
                margin-bottom:10px;
                margin-left:0;
                text-align:left;
            }

#sp-post-preview h5, .h5{
                color:#202020;
                display:block;
                font-family:Arial;
                font-size:18px;
                font-weight:bold;
                line-height:100%;
                margin-top:0;
                margin-right:0;
                margin-bottom:10px;
                margin-left:0;
                text-align:left;
            }

#sp-post-preview h6, .h6{
                color:#202020;
                display:block;
                font-family:Arial;
                font-size:16px;
                font-weight:bold;
                line-height:100%;
                margin-top:0;
                margin-right:0;
                margin-bottom:10px;
                margin-left:0;
                text-align:left;
            }



.report-icon{
    display: inline-block;
  width: 28px;
  height: 28px;
  *margin-right: .3em;
  line-height: 14px;
  vertical-align: text-top;
  background-image: url("../img/imac.png");
  background-position:top center;
  background-repeat: no-repeat;
}

.computer{
   background-image: url("../img/imac.png"); 
}
.phone{
   background-image: url("../img/iphone.png"); 
}
.tablet{
   background-image: url("../img/ipad.png"); 
}
.table-padding{
    padding-top: 4px;
}

.sendpress-addons{
    width:820px;
}
.sendpress-module{
    position: relative;
    float: left;
    width: 250px;
    min-height: 160px;
    max-height: 220px;
    margin: 0 0 15px 15px;
    border: 1px solid #dedede;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background: #fff;
   
    -webkit-box-shadow: inset 0 1px 0 #fff, inset 0 0 20px rgba(0,0,0,0.05), 0 1px 2px rgba( 0,0,0,0.1 );
    -moz-box-shadow: inset 0 1px 0 #fff, inset 0 0 20px rgba(0,0,0,0.05), 0 1px 2px rgba( 0,0,0,0.1 );
    box-shadow: inset 0 1px 0 #fff, inset 0 0 20px rgba(0,0,0,0.05), 0 1px 2px rgba( 0,0,0,0.1 );
    -webkit-transition-duration: .4s;
    -moz-transition-duration: .4s
    }
    .sendpress-module .inner-module{
       /* padding:20px 15px; */
        padding: 15px 15px 35px 15px;
    }
   
    .sendpress-module.pro-module{
        width:785px;
        min-height:40px;
        padding-bottom: 15px;
        background-color: whiteSmoke;
       }
 .sendpress-module.pro-module .inner-module{
    padding:  15px 15px 5px 15px;
 }

    .sendpress-module h4{
        margin:0px 0px 5px;
        font-size:15px;
        font-weight: normal;
    }
    .sendpress-module h5{
        margin:10px 0px 5px 0px;
    }
    .sendpress-module .inline-buttons{
        position:absolute;
        bottom:15px;
        left:15px;
        }
        .sendpress-module.pro-module .inline-buttons{
            right:15px;
            left:auto;
            bottom:auto;
            top:15px;
        }
        .sendpress-module.pro-module .description{
            margin-top:5px;
           
            margin-bottom:10px;
        }

        .sendpress-module.pro-module input.regular-text{
            width:250px !important;
        }





 .sendpress-module.pro-module input.sp-text{
        position: relative;
        top: 2px;
        width: 60% !important;
    }

p.lead{
    font-size: 18px;
font-weight: 200;
line-height: 30px;
}
.pro-header{
     width:800px;
    margin: 35px 0 25px 15px;
}

.label-uopen,.badge-uopen{background-color:#2F7028;}
.label-uopen[href],.badge-uopen[href]{background-color:#2F7028;}
.label-open,.badge-open{background-color:#5BB75B;}
.label-open[href],.badge-open[href]{background-color:#5BB75B;}
.label-uclick,.badge-uclick{background-color:#0074CC;}
.label-uclick[href],.badge-uclick[href]{background-color:#0074CC;}
.label-click,.badge-click{background-color:#2F96B4;}
.label-click[href],.badge-click[href]{background-color:#2F96B4;}


.btn-pro {
  color: #ffffff;
  background-color: #1fbfff;
  border-color: #12b3ff;
}

.btn-pro:hover,
.btn-pro:focus,
.btn-pro:active,
.btn-pro.active,
.open .dropdown-toggle.btn-pro {
  color: #ffffff;
  background-color: #12b3ff;
  border-color: #12b3ff;
}

.btn-pro:active,
.btn-pro.active,
.open .dropdown-toggle.btn-pro {
  background-image: none;
}

.btn-pro.disabled,
.btn-pro[disabled],
fieldset[disabled] .btn-pro,
.btn-pro.disabled:hover,
.btn-pro[disabled]:hover,
fieldset[disabled] .btn-pro:hover,
.btn-pro.disabled:focus,
.btn-pro[disabled]:focus,
fieldset[disabled] .btn-pro:focus,
.btn-pro.disabled:active,
.btn-pro[disabled]:active,
fieldset[disabled] .btn-pro:active,
.btn-pro.disabled.active,
.btn-pro[disabled].active,
fieldset[disabled] .btn-pro.active {
  background-color: #343838;
  border-color: #2e3232;
}



.btn-darker {
   background-color: hsl(114, 47%, 30%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#3f9536", endColorstr="#2f7028");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#3f9536), to(#2f7028));
  background-image: -moz-linear-gradient(top, #3f9536, #2f7028);
  background-image: -ms-linear-gradient(top, #3f9536, #2f7028);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3f9536), color-stop(100%, #2f7028));
  background-image: -webkit-linear-gradient(top, #3f9536, #2f7028);
  background-image: -o-linear-gradient(top, #3f9536, #2f7028);
  background-image: linear-gradient(#3f9536, #2f7028);
  border-color: #2f7028 #2f7028 hsl(114, 47%, 27.5%);
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.16);

}
.btn-darker.active:hover,
.btn-darker.active {
  color: rgba(255, 255, 255, 0.75);
}
.btn-darker,
.btn-darker:hover {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

@media (max-width: 1120px) { 
    .nav-sp{
        margin: 20px 0;
    }
 }

/*Notification CSS*/
.notifications .half{
    float:left;
    width:48%;

    }
    .notifications .half.right{
        margin-left:4%;
    }

.notifications .left{
    float:left;
    margin-right:10px;
    padding-top:4px;

    }

    .notifications .half .well h4{
        margin:0px 0px 10px 0px;
    }
    .notifications .well .notification-container{
        margin-bottom:10px;
        
        }
        .notifications .well .notification-container:after{
            content:"";
            display: block;
            clear:both;
        }
    .notifications .well .left{
        width:65px;
    }

.notifications .well:after{
    content:"";
    display: block;
    clear:both;
}










.navbar .nav > li{
    margin-bottom: 0px;
}


.custom-field-label{
    padding-right:3px;
}


